{
  "Environment": "development",
  "Staging_DB_Conscribo": {
    "description": "Credentials for the SKC MYSQL database to store Conscribo data.",
    "host": "localhost",
    "db": "conscribo_staging_db",
    "username": "root",
    "password": ""
  },
  "Conscribo_API": {
    "description": "Credentials to login with the Conscribo API user.",
    "accountname": "x",
    "username": "x",
    "password": "x"
  },
  "Joomla3": {
    "description": "Credentials for SKCs Joomla 3 database.",
    "host": "localhost",
    "db": "skc_test",
    "username": "root",
    "password": ""
  }
}
